@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --bg-color: #FFF;
    --bg-color-coments: #C3191908;
    --bg-color-footer: #F9FAFB;

    --border-color: #EAECF0;
    --border-color-input: #D0D5DD;

    --font-color-logo:#3A404E;
    --font-color-text: #667085;
    --font-color-heading: #101828; 
    --font-color-highlight: #8E2424;
    --font-color-highlight--opacity: #8E24240D;
    --font-color-footer-rights: #98A2B3;

    --font-family: "Inter", sans-serif;

    --font-weigth-primary: 500;
    --font-weigth-bold: 600;
    --font-weigth-thin: 400;

    --font-size-pattern: 1em;
}

body{
    background-color: var(--bg-color);
    color: var(--font-color-text);
    font-family: var(--font-family);
    font-weight: var(--font-weigth-primary);
    font-size: var(--font-size-pattern);
    height: 100vh;
}

/* Header */
.cabecalho{
    padding: 1.125rem 5rem;
}

/* Nav */
.cabecalho__menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container__menu{
    display: flex;
}

.menu__logo{
    color: var(--font-color-logo);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.container__menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.menu__itens{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itens__ancora{
    text-decoration: none;
    color: var(--font-color-text);
    padding: 0 1rem;
}

.buttons{
    padding: .55rem 0.75rem;
}

.buttons__entrar{
    border: none;
    background-color: transparent;
    color: var(--font-color-text);
}

.buttons__cadastrar{
    border: none;
    border-radius: 8px;
    color: var(--bg-color);
    background-color: var(--font-color-highlight);
}

/* Sobre nós */
.bloco__sobre{
    text-align: center;
}

.container__bloco__sobre{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 5%;
}

.sobre__info{
    color: var(--font-color-highlight);
    font-weight: var(--font-weigth-bold);
}

.sobre__titulo{
    color: var(--font-color-heading);
    font-size: 3em;
    font-weight: var(--font-weigth-bold);
}

.sobre__texto{
    font-size: 1.25em;
    font-weight: var(--font-weigth-thin);
    line-height: 1.875em;
    padding: 1rem;
}

/* Bloco Estatísticas */
.bloco__estatisticas{
    padding: 0 5% 6% 5%;
}

.container__bloco__estatisticas{
    display: flex;
    gap: 2rem;
    padding: 0 2%;
}

.bloco__estatisticas__itens{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 280px;
}

.itens__titulo{
    font-size: 3.75em;
    color: var(--font-color-highlight);
    padding: 0 0 0.5rem 0;
    font-weight: var(--font-weigth-bold);
}

.itens__subtitulo{
    color: var(--font-color-heading);
    font-size: 1.125em;
}

.itens__texto{
    line-height: 1.5em;
    font-weight: var(--font-weigth-thin);
}